<body>
    <main>
        <div class="content">
            <div class="pokedex">
                <div class="dot"></div>
                <div class="second-dot"></div>
                <div class="mini-dot"></div>
                <div class="pokedex-inside">
                    <div class="pkm-left">
                        <div id="name" class="name " [ngClass]="type">
                            <p id="pkm-name">{{pokemonActuel? pokemonActuel.name : "sacha et pikachu"}}</p>
                        </div>
                        <div class="img">
                            <img id="pkm-img-none"  src="https://66.media.tumblr.com/tumblr_mai132OrFS1rfjowdo1_500.gif" alt="gif sacha and pikachu" [ngStyle]="{display : displayGif}">
                            <img id="pkm-img-front" [src]="pokemonActuel.sprites.front_default" alt="" [ngStyle]="{display : displayImages}">
                            <img id="pkm-img-back" [src]="pokemonActuel.sprites.back_default" alt="" [ngStyle]="{display : displayImages}">
                        </div>
                        <div id="description" class="description"></div>
                        <div id="infos" class="infos" [ngClass]="type">
                            <p>N° <span id="pkm-id">{{pokemonActuel.id}}</span></p>
                            <p>Poids : <span id="pkm-weight">{{pokemonActuel.weight / 10}}</span> kg</p>
                            <p>Taille : <span id="pkm-height">{{pokemonActuel.height * 10}}</span> cm </p>
                        </div>
                    </div>
                    <div id="pkm-right" class="pkm-right">
                        <div id="pokemons" class="pkm-list" style=""></div>
                        <ul class="pkm-list">
                            <li class="pkm-select" [style]="'color: var(--'+p.types[0].type.name+')'"  *ngFor="let p of list"><p (click)="changePokemon(p.id)">{{p.name}}</p></li>
                        </ul>
                        <div class="buttons">
                            <button id="btn-prev" style="" (click)="display(-20)" [disabled]="offsetValue === 0">
                                ⬆
                            </button>
                            <button id="btn-next" style="" (click)="display(20)" [disabled]="offsetValue >= 1281">
                                ⬇
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>